* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-color: rgb(28, 32, 43);
  color: white;
  margin: 0;
  text-align: center;
}

.songs-container {
  width: 80vw;
  margin: auto;
}

.single-song {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 1.5rem;
}

.single-song img {
  height: 200px;
  width: 200px;
  border: 2px solid black;
}

.single-song img:hover {
  cursor: pointer;
  border-color: white;
}

.play-button {
  opacity: 0;
  position: absolute;
  transform: translate(10px, 60px);
  background: transparent;
  width: 74px;
  height: 74px;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #202020;
  pointer-events: none;
  transition: 700ms all ease;
}

.play-button.active {
  display: block;
  opacity: 1;
}
